@model IEnumerable<CamposProject.Entidades.Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<h1>Clientes</h1>

<p>
    <a asp-action="Create">Cadastrar Novo Cliente</a>
</p>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" method="get">
            <div class="form-group">
                <input name="Filtro" class="form-control" placeholder="Busca por nome do cliente" />
            </div>
            <div class="form-group">
                <input type="submit" value="Buscar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Nome do cliente 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NmCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdCliente">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdCliente">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdCliente">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
