@model CamposProject.Entidades.Venda

@{
    ViewData["Title"] = "Excluir";
}


<h3>Você tem certeza que deseja excluir?</h3>
<div>
    <h4>Venda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            Cliente 
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Cliente.NmCliente)
        </dd class>
        <dt class = "col-sm-3">
            Produto 
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Produto.DscProduto)
        </dd class>
        <dt class = "col-sm-3">
            Quantidade de produtos
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.QtdVenda)
        </dd>
        <dt class = "col-sm-3">
            Valor unitário 
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.VlrUnitarioVenda)
        </dd>
        <dt class = "col-sm-3">
            Data
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.DthVenda)
        </dd>
        <dt class = "col-sm-3">
            Valor total 
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.VlrTotalVenda)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdVenda" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
