@model CamposProject.Entidades.Venda

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Venda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            Cliente 
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Cliente.NmCliente)
        </dd>
        <dt class = "col-sm-3">
            Produto 
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Produto.DscProduto)
        </dd>
        <dt class = "col-sm-3">
            Quantidade de produtos 
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.QtdVenda)
        </dd>
        <dt class = "col-sm-3">
            Valor unitário 
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.VlrUnitarioVenda)
        </dd>
        <dt class = "col-sm-3">
            Data
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.DthVenda)
        </dd>
        <dt class = "col-sm-3">
            Valor total 
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.VlrTotalVenda)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdVenda">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
