@model IEnumerable<CamposProject.Entidades.Venda>

@{
    ViewData["Title"] = "Vendas";
}

<h1>Vendas</h1>

<p>
    <a asp-action="Create">Cadastrar nova venda</a>
</p>

<hr />
<div class="row">
    <div class="col-md-5">
        <form asp-action="Index" method="get">
            <div class="form-group">
                <input name="Filtro" class="form-control" placeholder="Busca por nome do cliente ou descrição do produto" />
            </div>
            <div class="form-group">
                <input type="submit" value="Buscar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Cliente
            </th>
            <th>
                Produto 
            </th>
            <th>
                Quantidade de produtos
            </th>
            <th>
                Valor unitário
            </th>
            <th>
                Data
            </th>
            <th>
                Valor total
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.NmCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto.DscProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QtdVenda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VlrUnitarioVenda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DthVenda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VlrTotalVenda)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdVenda">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdVenda">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdVenda">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
