@model IEnumerable<CamposProject.Entidades.Produto>

@{
    ViewData["Title"] = "Produtos";
}

<h1>Produtos</h1>

<p>
    <a asp-action="Create">cadastrar novo produto</a>
</p>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" method="get">
            <div class="form-group">
                <input name="Filtro" class="form-control" placeholder="Busca por descrição do produto" />
            </div>
            <div class="form-group">
                <input type="submit" value="Buscar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Descrição do produto 
            </th>
            <th>
                Valor do produto
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DscProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VlrProduto)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdProduto">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdProduto">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdProduto">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
